<app-navbar-avanzada></app-navbar-avanzada>
<div class="row main p-4 p-md-3">
  <!-- Form para calculo avanzado -->          
  
  <div class="container py-5 mt-3 mb-5">
      <div class="container">
          <h3>Caudal Del sistema</h3>
          <form #caudalForm="ngForm">
            
                <br>
                      <!--tipo 1 -->   
                      <div class="form-group">
    
                          <div class="d-flex">
                             <input type="number" class="form-control" id="caudal" placeholder="Opcional"
                             [(ngModel)]="model.caudal" name="caudal" #caudal="ngModel"  #spy>
                             <h6 class="my-auto ml-2 mr-4"> Lts/s
                                </h6>
                          </div>
                            
                         <div  class="alert alert-info mt-4 mb-4 ">
                                    
                                            <strong>*Nota:</strong> De no colocar caudal se asumira uno de 1.5lts/s
                         </div>
                    </div>
                       

                    <button (click)="guardarCaudal(model.caudal)" class="btn btn-primary" >Siguiente </button>
       
          </form>
      </div>
  </div>
</div>

