<app-navbar></app-navbar>
<div class="row">
  <div class="col mx-4 mx-sm-4 mx-md-5 mx-lg-5 mx-xl-5 mt-5 mb-4 ml-4">
    <h3>Resultados</h3>
  </div>
</div>

<div class="row main">
  <!-- Table -->
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover bg-light text-dark">
        <thead class="thead-light">
          <tr>
              <th scope="col">Altura</th>
              <th scope="col" >Perdidas Tuberias</th>
              <th scope="col">Perdidas Accesorios</th>

            <th scope="col">Potencia Mínima</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resultado of resultados; let i=index">
                <td >{{resultado.altura}} Mts</td>
                <td  >{{resultado.tuberias}} Mts</td>
                <td >{{resultado.accesorios}} Mts</td>
               <th  >{{resultado.resultado}} Hp</th>
  
          </tr>
        </tbody>
      </table>
      <div  class="alert alert-info mt-4 mb-4 ">
                                    
        <strong>*Nota:</strong> El resultado obtenido es la potencia mínima requerida, por lo cual se requiere una bomba de un valor igual o mayor al indicado
    </div>
    </div>
  </div>
  
</div>
  <div class="container  mt-3 mb-5">
<div class="row main">
    <div class="form-group col-md-3">
  <button  type="button" (click)="volver()" class="btn btn-success">Volver a Calcular</button>
</div>
<div class="form-group col-md-3">
  <button  type="button" (click)="home()" class="btn btn-success">Regresar a pagina de inicio</button>
</div>
</div>