
<!-- Main -->


  <div class="card wrapper mx-auto my-5">
    <div class="card-body bg-light pt-5 pb-5">
      <p class="lead text-primary text-center px-3" style="font-size: 20pt">Que Metodo quiere utilizar?</p>

      <div  class="card-deck">
        <div class="card text-center mx-auto" style="max-width: 18rem; max-height: 24rem;">
            <img class="img-responsive mx-auto mt-4 mb-2" src="assets/casa.png" alt="Imagen Agregar Vehiculo" width="130" height="140">
            <div class="card-body px-sm-1 px-md-2 px-lg-3 px-xl-3">
                <h5 class="card-title">Basica</h5>
                <p class="card-text"> Calcula la bomba que necesitas para tu vivienda! </p>
                <button  type="button" (click)="basica()" class="btn btn-primary">Calcular</button>
            </div>

        </div>
        <div class="card text-center mx-auto" style="max-width: 18rem; max-height: 24rem;">
            <img class="img-responsive mx-auto mt-4 mb-2" src="assets/edif.png" alt="Imagen Ver Vehiculos" width="130" height="140">
            <div class="card-body px-sm-1 px-md-2 px-lg-3 px-xl-3">
                <h5 class="card-title">Avanzada</h5>
                <p class="card-text">Pre-calcula una bomba y analiza las perdidas por tuberias,accesorios y más!</p>
                
                <button  type="button" (click)="avanzada()" class="btn btn-primary">Calcular</button>
            </div>
        </div>
     
    </div>
    </div>
  </div>




