

<nav class="navbar navbar-expand navbar-dark bg-primary ">
    <a class="navbar-brand"  [routerLink]="['/']">Home</a>
    
    
      <div class="navbar-nav">

        <div class="mx-4 my-auto">
          <a class="navbar-link d-flex  align-items-left text-white" [routerLink]="['/basica']">
            Datos
          </a>
        </div>
          <a class="navbar-link d-flex align-items-left text-white" [routerLink]="['/resultado-basica']">
             Resultados
            </a>
      </div>
    
  </nav>

