<!-- Navbar avanzada -->



<nav class="navbar navbar-dark bg-primary  sticky-top">

    <a class="navbar-brand pl-5" [routerLink]="['/']">Home</a>
 
    <a class="navbar-link d-flex align-items-center text-white" [routerLink]="['/caudal']">
      Caudal
    </a>
  
    <a class="navbar-link d-flex align-items-center text-white" [routerLink]="['/perdidas']">
       Altura y Presión
      </a>
      <a class="navbar-link d-flex align-items-center text-white" [routerLink]="['/perdidas-tuberia']">
     Tuberias
      </a>

      <a class="navbar-link d-flex align-items-center text-white" [routerLink]="['/perdidas-accesorio']">
        Accesorios
      </a>
      <a class="navbar-link d-flex align-items-center text-white" [routerLink]="['/bomba']">
       Bomba
      </a>
      <a class="navbar-link d-flex align-items-center text-white mr-5 pr-5" [routerLink]="['/resultado-avanzada']">
        Resultados
       </a>
</nav>